<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>This is My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://avatars.githubusercontent.com/u/48077864?v=4" />
    </ion-avatar>
    <ion-label>Tarmizi Sanusi</ion-label>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tarmizi Sanusi</ion-card-title>
      <ion-card-subtitle>Ionic Trainer</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
  This is example of page using Ionic Component    </ion-card-content>
  </ion-card>

</ion-content>
