<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Layersoft Apps v1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header routerLink="/profile">
      Go to profile
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header routerLink="/list-todos">
      Go to list todos
    </ion-card-header>
  </ion-card>
</ion-content>
